.zoom-popover {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.zoom-popover button {
  all: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: .875rem;
  line-height: 1rem;
  color: #ffffff;
  cursor: pointer;
}

.zoom-popover button:not(:last-child) {
  margin-right: 1.25rem;
}
