.App {
  text-align: center;
  height: 100vh;
  display: grid;
  place-items: center;
}

.App__form {
  display: flex;
  flex-direction: column;
}

/* .my-canvas { */
/* position: relative; */
/* width: 100%;
  height: 100%; */
/* margin-left: auto !important;
  margin-right: auto !important; */
/* } */

.canvas-sub-container {
  position: relative;
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.canvas-container::-webkit-scrollbar {
  width: 0;
}
.canvas-container::-webkit-scrollbar-thumb {
  background: none;
}
.note-image-container {
  position: absolute;
  cursor: pointer;
  pointer-events: auto;
  background: #fff;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  user-select: none;
}

.note-image-container img {
  width: 30px;
  height: auto;
}
.canvas-container {
  /* position: relative; */
  overflow-x: scroll;
  overflow-y: hidden;
}

.toolbar-icon-container {
  position: relative;
}

.toolbar-point {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: white;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

#toolbar-point-show {
  display: block;
}

.ant-modal-header {
  background: #137ad2 !important;
}

.ant-modal-body {
  padding: 0 0;
}

/* @media screen and (max-height: 750px) {
  .auth-layout {
    overflow-y: scroll;
    height: 120vh;
  }
} */

/* input {
  padding: 7px 11px;
  border-radius: 3px;
  border: none;
  border-bottom: 1px solid gray;
  margin: 20px;
  outline: none;
} */
/* 
button {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  padding: 7px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */

.tab-text {
  @apply w-full uppercase text-sm  xl:text-[16px] cursor-pointer  text-white text-center;
  font-weight: 500;
  /* font-family: Roboto; */
}
.lesson-menu,
.chapter-menu,
.video-menu {
  position: relative;
}
.lesson-menu::after,
.chapter-menu::after,
.video-menu::after {
  content: "";
  position: absolute;
  width: 1px;
  background: #cdcdcd;
  z-index: 1;
}
.lesson-menu::after {
  left: 5px;
  top: 5px;
  height: 90%;
}
.closed-lesson-menu::after {
  height: 50%;
}
.chapter-menu::after {
  left: 25px;
  top: 15px;
  height: inherit;
}

.video-menu::after {
  left: 7%;
  top: 18%;
  height: 80%;
}
.drop-down-icon {
  animation: rotate 0.1s linear;
  animation-fill-mode: forwards;
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
  }
}
