@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~antd/dist/antd.css";

body {
  margin: 0;
  font-family: Nunito, sans-serif !important;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.spin-button-none::-webkit-outer-spin-button,
.spin-button-none::-webkit-inner-spin-button {
  appearance: none;
}

#canvas-pdf-container canvas {
  margin: 0 0 1rem 0;
  box-shadow: -1px 0px 10px 2px rgb(0 0 0 / 10%);
} 